body { 
    margin: auto;
    border: 3px;
    padding: 10px;
    width:900px;
    background-color:#CBBF97;
    position:center;
}

#menus {
    width:720px;
    float:right;
	padding-top: 48px;
	padding-bottom: 10px;
	margin-bottom: 2px;
}

#menus ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menus ul li {
	display: inline;
}

#menus ul li a {
	cursor:pointer;
	text-decoration: none;
	margin-left: 32px;
	margin-right: 5px;
	padding: 1px 1px;
	color: #808080;
    text-align:center;
}

#menus ul li a:hover {
        color: #000000;
    }

#header{
    width:890px;
    margin:20px;
    float:left;
    margin-left:5px;
    border:5px;
    border-bottom-style:double;
}
   

#footer {
    background-color:#806543;
    border:double;
    border-color:#000000;
    text-align:center;
    margin-top:4px;
    padding:2px 3px 3px 3px;
    clear:both;
}

#footer ul li {
    display: inline;
    padding-left:3px;
    padding-right:3px;
}

#footer ul li a {
    color:#ffffff
}

#contactleft {
    width:500px;
    padding:4px;
    margin:2% 0% 5% 0%;
    float:left;
}

#contactleft h1{
    text-align:center;
    margin-top:4px;
}

#contactleft p{
    font-size:16px;
    text-align:justify;
}

#sendemail{
    float:right;
    margin-right:95px;
    margin-top:4px;
}

#literal{
    font-style:italic;
    border-top-style:double;
    margin-top:45px;
    margin-bottom:20px;
    text-align:center; 
}


#contactright {
    width:370px;
    padding:2px;
    margin:2% 0% 2% 0%;
    float:right;
}

#contactright h1{
    text-align:center;
    margin-top:4px;
}

#contactright p{
    font-size:14px;
    text-align:center;
}

#box{
    position:center;
    width:370px;
    height:370px;
    clear:both;
    margin-bottom:12px;
    overflow:hidden;
}

#box h3{
    text-align:center;
}

#map {
    position:center;
    height: 100%;
    
  }

#openinghours{
    margin-left:25px;
}

#openinghours table{
    border-bottom-style:dotted;
    border-bottom-width:3px;
    border-color:#808080;
}

#openinghours tr td{
    text-align:center;
    font-style:oblique;
    margin:10px;
    padding-left:30px;
    padding-right:30px;
}

#home {
    background-image: url('../images/background.jpg');
    width:900px;
    height:auto;
    overflow:hidden;
    padding-bottom:10px;
}

#chef {
    padding-left:25px;
}

#homesearch {
    background-color:#CBBF97;
    float:right;
    font-size:16px;
    margin-bottom:20px;
    margin-right:20px;
}

#home table{
    margin:15px 15px 15px 15px;
}

#hometop tr td{
    
    border-style:hidden;
    border-color:#808080;
    margin-top:10px;
    margin-left:5px;
    margin-right:15px;
    margin-bottom:20px;
    padding-left:15px;
    padding-right:20px;
    position:center;
    text-align:center;
}

#hometop p{
    text-align:center;
    font-size:20px;
    width:180px; 
    height:40px;
}

#clickformore {
    font-style:italic;
    font-size:16px;
    width:200px;
    border:double;
    border-color:#808080;
    border-width:5px;
    margin-bottom:10px;
    float:right;
    margin-right:35px;
    text-align:center;
}

#homebottom tr td{

    border-style:hidden;
    border-color:#808080;
    margin-top:10px;
    margin-left:5px;
    margin-right:15px;
    margin-bottom:20px;
    padding-left:15px;
    padding-right:20px;
    position:center;
    text-align:center;
}

#homebottom p{
    text-align:center;
    font-size:20px;
    width:180px; 
    height:40px;
}

#clickhereformore {
    font-style:italic;
    font-size:16px;
    width:200px;
    border:double;
    border-color:#808080;
    border-width:5px;
    margin-bottom:10px;
    float:right;
    margin-right:35px;
    text-align:center; 
}

#loginpanel {
    width:390px;
    padding:5px;
    border-right-style:double;
    margin:2% 0% 2% 0%;
    position:center;
    height: 174px;
}

#loginpanel h1{
    text-align:center;
    margin-top:4px;
}

#loginpanel tr td{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    padding:2px;
    position:center;
    text-align:center;
}

#btnLogin{
    background-color:#ffffff;
    width:100px;
    height:40px;
    border-style:double;
    font-style:italic;
    margin-top:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-left:5px;
}

#registerpanel {
    width:400px;
    padding:5px;
    margin:2% 0% 2% 0%;
    float:left;
}

#registerpanel h1{
    text-align:center;
    margin-top:4px;
}

#registerpanel tr td{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    padding:2px;
    position:center;
    text-align:center;
}

#registerp{
    font-style:oblique;
    text-align:center;
    font-size:14px;
    float:right;
}

#btnRegister{
    background-color:#ffffff;
    width:100px;
    height:40px;
    border-style:double;
    font-style:italic;
    margin-top:5px;
    margin-right:5px;
    margin-bottom:5px;
    margin-left:5px;
}

#AddEntry{
    border-style: double;
    border-color: #808080;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    position: center;
    font-size:14px;
    overflow:hidden;
    clear:both; 
}

#imageProduct {
    background: #ffffff;
    width:200px;
    height:200px;
    float:left;
    border-style: double;
    border-color: #808080;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: center;
    text-align: center;
}

#AddNewProduct h1{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    position: center;
}

#AddNewProduct table{
    position: center;
}

#AddNewProduct tr td{
    border-style: double;
    border-color: #808080;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:center;
    position: center;
    font-size:14px;
}

#btnLogout{
    background-color:#ffffff;
    width:100px;
    height:40px;
    border-style:double;
    font-style:italic;
    float:right;
}

#product h1{
    text-align:center;
}

#product p{
    position:center;
    margin:5px;
    list-style:initial;
    font-size:16px;
    display:inline-block;
}

#product {
    position:center;
    list-style:none;
    list-style-type:none;
    font-size:16px;
    display:inline-block;
    
}