body { 
    margin: auto;
    border: 3px;
    padding: 10px;
    width:900px;
    background-color:#CBBF97;
    position:center;
}

#menus {
    width:720px;
    float:right;
	padding-top: 48px;
	padding-bottom: 10px;
	margin-bottom: 2px;
}

#menus ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menus ul li {
	display: inline;
}

#menus ul li a {
	cursor:pointer;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 5px;
	padding: 1px 1px;
	color: #808080;
	background-color: none;
    text-align:center;
}

#menus ul li a:hover {
        color: #000000;
    }

#header{
    width:890px;
    margin:20px;
    float:left;
    margin-left:5px;
    border:5px;
    border-bottom-style:double;
}
   

#footer {
    background-color:#806543;
    border:double;
    border-color:#000000;
    text-align:center;
    margin-top:4px;
    padding:2px 3px 3px 3px;
    clear:both;
}

#footer ul li {
    display: inline;
    padding-left:3px;
    padding-right:3px;
}

#footer ul li a {
    color:#ffffff
}

#contactleft {
    width:500px;
    padding:4px;
    margin:2% 0% 5% 0%;
    float:left;
}

#contactleft h1{
    text-align:center;
    margin-top:4px;
}

#contactleft p{
    font-size:16px;
    text-align:justify;
}

#sendemail{
    float:right;
    margin-right:95px;
    margin-top:4px;
}

#literal{
    font-style:italic;
    border-top-style:double;
    margin-top:45px;
    margin-bottom:20px;
    text-align:center; 
}


#contactright {
    width:370px;
    padding:2px;
    margin:2% 0% 2% 0%;
    float:right;
}

#contactright h1{
    text-align:center;
    margin-top:4px;
}

#contactright p{
    font-size:14px;
    text-align:center;
}

#box{
    position:center;
    width:370px;
    height:370px;
    clear:both;
    margin-bottom:12px;
    overflow:hidden;
}

#box h3{
    text-align:center;
}

#map {
    position:center;
    height: 100%;
    
  }

#productleft {
    background-color:#ffffff;
    width:430px;
    padding:5px;
    margin:2% 0% 2% 0%;
    float:left;
}

#productright {
    background-color:#ffffff;
    width:430px;
    padding:5px;
    margin:2% 0% 2% 0%;
    float:right;
}

#openinghours{
    margin-left:120px;
}

#openinghours tr td{
    margin:10px;
    padding:2px;
}

#home {
    background-image: url('../images/background.jpg');
    width:900px;
    height:inherit;
}

#home table{
    margin:15px 15px 15px 15px;
}

#hometop tr td{
    border-style:double;
    border-color:#808080;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    padding:2px;
    position:center;
    text-align:center;
}

#hometop p{
    width:400px;
    border-style:double;
    border-color:#808080;
    margin-left:232px;
    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
    text-align:center;
    font-style:italic;
}

#homebottom tr td{
    border-style:double;
    border-color:#808080;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    padding:2px;
    position:center;
    text-align:center;
}

#homebottom p{
    border-style:double;
    border-color:#808080;
    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
    text-align:center;
}